.item-list-list {
  list-style-type: none;
  padding-left: 0;
}
.item-list-card-wrapper:hover {
  text-decoration: none;
}
.item-list-card {
  margin: 10pt 0;
  padding: 10pt 10pt;
  background: transparent;
  transition: background 0.3s;
}
.item-list-card:hover {
  background-color: #ececec;
  transition: all 0.3s;
}
